#header {
    text-align: center;
}

#play {
    width: 5%;
    height: 5%;
    vertical-align: middle;
}

#stop {
    vertical-align: middle;
}

#playdiv {
    text-align: center;
}

#commentdiv {
    text-align: center;
}

#commentlist {
    text-align: center;
    width: 25%;
    margin: auto;
}

#attributionlink {
    vertical-align: sub;
    position: relative;
    margin-right: 10em;
}

#stoplink {
    vertical-align: sub;
    position: relative;
    text-align: bottom;
}

#stoplink2 {
    vertical-align: sub;
    position: relative;
}

#txtLink2 {
    vertical-align: sub;
    position: relative;
}
