#header {
    text-align: center;
}

#attributiondiv {
    text-align: center;
}

.playimg {
    width: 5em;
    height: 5em;
    text-align: left;
}

#playdiv {
    margin-left: auto;
	margin-right: auto;
}

.commentdiv {
    margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.attributionlink {
    vertical-align: sub;
    position: relative;
}

#uploaddiv {
    margin: auto;
    text-align: center;
}

.tbl-playlist {
    margin-left: auto;
	margin-right: auto;
}

.trow {
    text-align: left;
}

.tdname {
    text-align: left;
	width: 20em;
}

.tdstop {
	width: 4em;
}

.tdcomm {
	width: 8em;
}

.tdplay {
    width: 7em;
    height: 7em;
    text-align: right;
}